@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Nabla&family=Poppins:wght@100;400&family=Quicksand:wght@300;600&family=Raleway:wght@100;700&display=swap');

/* font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif; 
font-family: 'Nabla', cursive;
*/

html {
    background-image: url(../img/back-alley2.jpeg);
    background-repeat: none;
    background-position: top;
    background-size: cover;

}

body {
    /* background-color: white; */
    align-content: center;
    max-width: 650px;
    margin: auto;
    padding: 20px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    line-height: 1.8;
    color: #c2c2c2;
}

h1 {
    font-family: 'Nabla', cursive;
    font-size: 100px;
    margin: 0;
}

.container {
    position:relative;
    margin: 0 auto;
    max-width: 960px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    margin: auto;
    gap: 0;
    max-width: 610px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 2em;
}

div > div {
    padding: 10px;
    /* align-self: center; */
}

.box {
    font-family: 'Quicksand', sans-serif;
    font-size: 200px;
    text-align: center;
    padding: 0;
    margin: 0;
    border: 3px solid #95d3f7;
    /* align-content: center; */
    /* align-self: center; */
    /* line-height: 0; */
    /* height: 100%; */
    vertical-align: middle;
}

#box0, #box1, #box2 {
    border-top: none;
}

#box0, #box3, #box6 {
    border-left: none;
}

#box6, #box7, #box8 {
    border-bottom: none;
}

#box2, #box5, #box8 {
    border-right: none;
}

.box.x {
    padding: 50px;
    background-image: url(../img/dog.png);
    background-size: 90%;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: center;
    animation: dogScale 0.5s ease-in;
}

.box.o {
    background-image: url(../img/cat.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    animation: catScale 0.5s ease-in;
}

@keyframes dogScale {
    from {
        background-size: 0;
    }
    to {
        background-size: 90%;
    }
}

@keyframes catScale {
    from {
        background-size: 0;
    }
    to {
        background-size: 60%;
    }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 500ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: rgba(255,255,255,0.8);
    width: 500px;
    max-width: 80%;
    color: #222;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-size: 3rem;
    margin: 0;
}

.new-game {
    cursor: pointer;
    border: none;
    border-radius: 0.5em;
    padding: 0.3em;
    outline: none;
    background: #006e7b;
    font-size: 1.25rem;
    font-weight: bold;
    color: whitesmoke;
    margin: 20px 0;
}

.wins {
    font-size: 1.5em;
    font-weight: bold;
}

#cat-wins, #dog-wins, #draws {
    display: inline-block;
    width: 100px;
}

.overlay {
    opacity: 0;
    position: fixed;
    max-width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
    transition: 200ms ease-in-out;
}

.overlay.active {
    opacity: 1;
}
